<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression-Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
    <parameter name="testPropertiesFilePath" value="./config/TestProperties.yml"></parameter>
	<suite-files>
		<suite-file path="./sample-suite.xml" />
	</suite-files>
</suite>